
.App-logo {
  height: 85px;
  padding-bottom: 8px;
}
.Menu {
  flex-direction: row;
  width: 80%;
}
.UserInformation {
  flex-direction: column;
  width: 20%;
  margin-top: 18px;
  display: flex;
  color: white;
  text-align: center;
}
.App-header {
  background-color: #1c1d1f;
  height: 80px;
  display: flex;
  box-shadow: 2px 2px 5px #999;
  flex-direction: row;
}
.App-link {
  color: #09d3ac;
}
