
.App-logo {
  height: 90px;
  margin-right: 10px;
  margin-left: 20px;
  padding-bottom: 15px;
}
.Menu {
  display: flex;
  flex-direction: row;
  width: 82%;
}
.columna {
  padding-left:50px,
}
.LogOut {
  margin-Top: 20px;
  margin-left: 20px;
  float: right;
  align-Content: center;
}
.UserInformation {
  flex-direction: column;
  margin-top: 18px;
  display: flex;
  color: white;
  text-align: center;
}
.App-header {
  background-color: #1c1d1f;
  height: 80px;
  display: flex;
  box-shadow: 2px 2px 5px #999;
  flex-direction: row;
}
.decorBar{
  width: 100%;
  height: 3px;
  background-color: #EFB810;
}
.horario {
  padding-left: 17%;
  padding-right: 17%;
  align-self: auto;
  align-items: center;
}
.Canvas{
  margin-left: 4em !important;
  align-items: center;
  margin-bottom: 2em !important;
  height: max-content;
  margin-right: 4em !important;
}
.Pantalla{
  height: 100% !important;
  margin: 0 !important;
}
